@font-face {
    font-family: "Poppins-Regular";
    src: local("Poppins-Regular"), url(./assets/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: local("Poppins-SemiBold"), url(./assets/Poppins-SemiBold.ttf) format("truetype");
}

body {
    font-family: "Poppins-Regular";
    font-size: 16pt;
    .mobile-frame {
        display: block;
        width: auto;
        height: 100%;
        z-index: 1000;
        position: relative;
        margin: 0 auto;
        .frame-container {
            display: block;
            width: auto;
            height: 860px;
            margin: 0 auto;
            z-index: 999;
        }
    }
    .country-code {
        .iti {
            width: 100%;
            .iti__flag-container {
                .iti__selected-flag {
                    padding-left: 20px;
                    border-right: 1px solid #000;
                }
            }
            input {
                width: 100%;
                padding: 11px 6px;
                border-radius: 25px;
                border-width: 1px;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}
@media screen and (max-width: 480px) {
}
